.header {
  width: 800px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

div.header h1, div {
  display: table-cell;
  vertical-align: middle;
}

div.header > h1 {
  float: left;
  margin-left: 20px;
}

div.header > a {
  float: right;
}

.center {
  text-align: center;
}

.content {
  width: 800px;
  display: block;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}

div.content table {
  border-collapse: collapse;
  border: 1px solid #000;
  width: 100%;
}

tr, td {
  border: 1px solid #999;
  font-family: sans-serif;
  vertical-align: baseline;
  padding: 5px;
}

td.name {
  background-color: #FFC;
  width: 40%;
  font-weight: bold;
}

td.value {
  background-color: #f2f2f2;
  word-wrap: break-word;
  word-break: break-all;
}

.footer {
  text-align: center;
}

