<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
  <title>INK - Flask Test Deployment</title>

</head>
<body>

  <div class="header">
    <h1>Python {{ python_version }}</h1>
      <a href="http://python.org/">
        <img border="0" src="http://python.org/images/python-logo.gif" alt="Python">
      </a>
  </div>
  
  <h2 class="center">Server</h2>

  <div class="content">
    <table> 
      {% for v in socket_info %}
      <tr>
        <td class="name">{{ v.0 }}</td>
        <td class="value">{{ v.1 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2 class="center">System</h2>

  <div class="content">
    <table> 
      {% for v in system_info %}
      <tr>
        <td class="name">{{ v.0 }}</td>
        <td class="value">{{ v.1 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2 class="center">Python Internals</h2>

  <div class="content">
    <table> 
      {% for v in py_internals %}
      <tr>
        <td class="name">{{ v.0 }}</td>
        <td class="value">{{ v.1 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2 class="center">OS Internals</h2>

  <div class="content">
    <table> 
      {% for v in os_internals %}
      <tr>
        <td class="name">{{ v.0 }}</td>
        <td class="value">{{ v.1 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>


</body>
</html>
